*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
    padding: 8px 0;
}
a{
    text-decoration: none;
    color: inherit;
}
hr{
    width: 15%;
    margin: 40px 0 40px 0;
    color: lightgray;
}
.check-color{
    color: blue;
}

/* utility */

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
   
}
.smallcontainer{
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
  /
}
.mt-20{
    margin-top: 20px;
}
.button{
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin: 30px 0;

}
.buynow{
    text-decoration: underline;
    color: blue;
}
.pdt-20{
    padding: 20px 0;
}
.pdt-30{
    padding: 30px 0 0 0;
}
/* HEADER */
.header{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
     padding: 20px;
}
.list1{
    display: flex;
     gap: 20px;
   

}
.list2{
    display: flex;
     gap: 20px;
   
}
.small-button{
    background-color: blue;
    color: white;
    padding: 5px;
    

}

/* BANNER */
.banner{
    background-color: #b4d0e6;
    padding: 100px 0 0 0;
   

}
.bannerraw{
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
 

}
.bannertitle{
   
    width: 100%;
    font-size: 35px;
    

}
.bannercol1{
    height: 60%;
    padding: 30px 0;
    width: 40%;
    font-size: 22px;
 

}
.bannercol2{
    width: 60%;
    

}
/* CARD SECTION */
.cardsection{
    display: flex;
    flex-wrap: wrap;
    

}
.cardraw{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    

    

}
.title{font-size: 25px;
    padding-bottom: 20px;

}
.radio{
padding-right: 20px;
}
.cardtitle{
    width: 100%;
    padding: 20px;
    

}
.cardcol{ 
    margin: 10px 0;
    padding: 15px 15px 30px 15px ;
    width: calc(90%  / 3);
    border: 1px solid lightgray;


/* INSIDE CARD */
.title-inside{
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    border: 1px solid lightgray;
}
.list-top-inside{
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
.list-bot-inside{
    display: flex;
    width: 100%;
}
.mini-month{
    color: lightgray;
}
.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CARD FOOTER */
.cardfooter{
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
    
    

    }
    .cardfooter-mid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cardfooter-left{
        width: 50%;
    }
    .cardfooter-right{
        width: 30%;
    }
    
/* MIDSECTION */
.midsection{
}
.midraw{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
   

}
.midcol1{
    width: 60%;
}
.midcol2{
    padding: 20px;
    width: 40%;


}
.mid-button{
    display: inline-block;
    border: 1px solid black;
    background-color: white
    color: black;
    padding:10px;
    margin: 20px 0 0 0;
    
}
/* DROP SECTION */
.dropsection{

}
.dropdraw{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* DEBUG */


}
.dropcoltitle{
    text-align: center;
    padding: 30px;
    width: 100%;
    

}
.dropcol{
    margin-top: 10px;
    width: calc(90%/3);
    

}
/* FINAL SECTION */
.finalsection{

}
.finaltitle{
    margin-right: 250px;
    padding: 30px 0px 30px 0;
    font-size: 25px;
}
/* FOOTER */
.footersection{
    background-color: black;

}
.footerraw{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /* DEBUG */
  
    width: 100%;
    height: 300px;

}
.footercol{
    color: white;
    padding: 20px 0;
    width: calc(100%/5);


}
.footerlenguages{
    padding-bottom: 300px;
    color: white;

}